In [1]:
# en primer lugar importamos la funcionalidad para crear un engine
from sqlalchemy import create_engine, text

## 1. Database Connection

In [2]:
# Pictures database
host = 'localhost'
database = 'Pictures'
user = 'mbit'
password = 'mbit'

In [3]:
# create sqlalchemy engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

## 2. Tables Creation

In [4]:
# create pictures 
pictures_stmt = text(
    """
        CREATE TABLE IF NOT EXISTS pictures (
            id varchar(36) NOT NULL,
            path varchar(250) NOT NULL,
            size int(12) NOT NULL,
            date varchar(28) NOT NULL,
            PRIMARY KEY (id)
        )
    """)
with engine.connect() as conn:
    conn.execute(pictures_stmt)

In [5]:
tags_stmt = text(
    """
        CREATE TABLE IF NOT EXISTS tags (
            tag varchar(36) NOT NULL,
            picture_id varchar(36) NOT NULL,
            confidence int NOT NULL,
            date varchar(28) NOT NULL,
            PRIMARY KEY (tag, picture_id),
            FOREIGN KEY (picture_id) REFERENCES pictures(id)
        )
    """
)
# create tags
with engine.connect() as conn:
    conn.execute(tags_stmt)